

/* waline  */
/* 隐藏表情包等  */
div.wl-actions {
    display:none;
}

/* 隐藏agent  */
.wl-card .wl-meta > span.wl-browser {
    display:none;
}

.wl-card .wl-meta > span.wl-os {
    display:none;
}

/* 隐藏评论排序切换  */
ul.wl-sort {
    display:none;
}

/* 隐藏登录按钮  */
div.wl-info button.wl-btn:nth-child(2) {
    display:none;
}

/* 禁用评论区a标签跳转  */
div.wl-content p a {
    pointer-events: none;
}

a.wl-nick {
    pointer-events: none;
}

/* 调整评论区昵称字体大小  */
div.wl-header-item > label {
    font-size: .85em;
}

#wl-nick {
    font-size: .80em;
}

#wl-mail {
    font-size: .80em;
}

div.about-avatar {
    margin-top: 0rem;
}